@model ArayanDev.Business.Handlers.Users.Commands.ChangePasswordCommand
@{
    ViewData["Title"] = "تغییر رمز عبور";
     // یا Layout اصلی پروژه‌ات
}

<h2 class="text-center">تغییر رمز عبور</h2>

<form asp-action="ChangePassword" method="post" class="form">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OldPassword">رمز فعلی</label>
        <input asp-for="OldPassword" class="form-control" type="password" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword">رمز جدید</label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword">تکرار رمز جدید</label>
        <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary btn-block">تغییر رمز</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
