@model ArayanDev.Business.Handlers.Users.Commands.ResetUserPasswordCommand
@{
    ViewData["Title"] = "بازیابی رمز عبور";
   
}

<h2 class="text-center">بازیابی رمز عبور</h2>

<form asp-action="ResetPassword" method="post" class="form">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Code">کد بازیابی</label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword">رمز عبور جدید</label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-block">تغییر رمز عبور</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}